.nav__main {
    width: 980px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
}
.nav__navigation-items {
    display: flex;
    padding: 0;
    justify-content: center;
}
.nav__navigation-items li {
    margin-right: 25px;
    list-style: none;
    display: block;
    padding: 10px;
}
.nav__navigation-items a {
    color: #ffffff;
}
.nav__navigation-start {
    border-bottom: 1px solid white;
}